// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat",
sans-serif;
$font-family-sans-serif-secondary: 'Work Sans', sans-serif;
$font-family-bodoni-serif: "Libre Bodoni", serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color scheme
$primary: #0c0c0c;
$secondary: #1515aa;

